{% spaceless -%}
    <a href="{{ path("cube_common.reportbug") }}" target="_blank" id="cube_common_bug_report_link"
       {%- if report_bug_class|default(null) %}class="{{ report_bug_class }}"{% endif %}
    >
        {{- report_bug_text|default('report bug') -}}
    </a>
    <script> /*bug link*/ {# with javascript because window.location also contains query parameters, hash, ... -#}
        $(function () {
            function report_bug() {
                // get x-debug-token from debug toolbar
                var wdtId = $('.sf-toolbar').attr('id');
                if (wdtId.startsWith('sfwdt')) {
                    var profilerToken = wdtId.substr(5);
                } else {
                    var profilerToken = '';
                }
                var queryParam = 'relatedUrl=' + encodeURIComponent(window.location) + '&profiler=' + profilerToken;
                open('{{ path("cube_common.reportbug") }}?' + queryParam, '_blank');
                return false;
            }
            $('#cube_common_bug_report_link').click(report_bug).attr('href', 'javascript:void("{{ path("cube_common.reportbug") }}")');
        });
    </script>
{%- endspaceless %}
