<!DOCTYPE html>
<html>
  <head>
    <title>report bug</title>
  </head>
  <body>
    <h1>report bug</h1>
    <p>When you have to sign in on github, click "back" 2x after. (To come back here and resend.)</p>
    {% if redirect %}
        <p>Will redirect in {{ redirect }} seconds to <a href="{{ directLink }}">{{ directLink|slice(0, 73) }}...</a>.</p>
    {% endif %}
    <div>You can abort with escape (multiple times) and copy the message from below.</div>
    <hr/>
    <div>
        {{ msg | nl2br }}
    </div>
    <hr/>
    <div>Manually create message:</div>
    <form>
        <div>
            <label>related url:</label> <input name="relatedUrl" value="{{ relatedUrl }}" type="url"/>
            <span>(must be below {{ baseUrl }})</span>
        </div>
        <div>
            <label>profiler token:</label>
            <input name="profiler" value="{{ profilerToken|default('') }}" disabled="disabled" />
        </div>
        <input value="report bug" type="submit"/>
    </form>
    <br/>
    <a href="{{ directLink }}">report bug with partial info prefilled only</a>
  </body>
</html>
